<div class="container">
    <div class="form">
        <div class="heading">
          <h4 class="display-4">Patient Info</h4>
      </div>
        <div class="alert alert-warning" *ngIf="patientForm.invalid&&patientForm.dirty">Enter the valid details</div>
          <form (ngSubmit)="!patientForm.invalid && save()" #patientForm="ngForm">
              <div class="mb-3">
                <label class="form-label">Id</label>
                <input type="text" #patientForm="ngModel" name="id" required="required" class="form-control" [(ngModel)]="patient.id" >
              </div>
  
              <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input type="text" #patientForm="ngModel" name="name" required="required" class="form-control" [(ngModel)]="patient.name" >
                </div>
  
                <div class="mb-3">
                  <label class="form-label">Age</label>
                  <input type="text" #patientForm="ngModel" name="age" required="required" class="form-control" [(ngModel)]="patient.age">
                </div>
  
                <div class="mb-3">
                  <label class="form-label">Visited Doctor</label>
                  <input type="text" #patientForm="ngModel" name="visitedDoctor" required="required" class="form-control" [(ngModel)]="patient.visitedDoctor">
                </div>
  
                <div class="mb-3">
                  <label class="form-label">Date Of Visit</label>
                  <input type="date" ngbDatepicker #d="ngbDatepicker" #patientForm="ngModel" name="dateOfVisit" required="required" class="form-control" [ngModel]="patient.dateOfVisit | date:'dd-MM-yyyy'" (ngModelChange)="patient.dateOfVisit=$event">
                </div>
              
              <button type="submit" class="btn btn-primary" >Save</button>
            </form>
      </div>
</div>

