<div class="container">
    <div class="tableWrap">
        <div class="heading">
            <h4 class="display-4">List of Doctors</h4>
        </div>
        <div class="alert alert-warning" *ngIf="message">{{message}}</div>
        <table class="table table-stripped">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Specialized Field</th>
                <th>Delete</th>
                <th>Update</th>
            </thead>
            <tbody>
                <tr *ngFor="let doctor of doctors">
                    <td>{{doctor.id}}</td>
                    <td>{{doctor.name}}</td>
                    <td>{{doctor.age}}</td>
                    <td>{{doctor.gender }}</td>
                    <td>{{doctor.field }}</td>
                    <td><button (click)="deleteDoctor(doctor.id)" class="btn btn-warning">Delete</button></td>
                    <td><button (click)="updateDoctor(doctor.id)" class="btn btn-success">Update</button></td>
                </tr>
            </tbody>
        </table>
        <div class="add">
            <button type="submit" class="btn btn-success" (click)="addDoctor()">Add</button>
          </div>
    </div>
</div>

  
