<div class="container">
    <div class="tableWrap">
        <div class="heading">
            <h4 class="display-4">Show Information of Doctor</h4>
        </div>
        <div class="dropdown">
            <label for="doctor">Select Doctor</label>
            <div class="input-group input-group-sm mb-3">
                <select class="btn btn-secondary" [(ngModel)]="selectedDoctor.id" (change)="onSelect($event.target)">
                    <option value="0">--Select doctor--</option>
                    <option *ngFor="let doctor of doctors" [value]="doctor.id">{{doctor.name}}</option>
                </select>
            </div>
        </div>
        <table class="table table-dark table-hover">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Specialized Field</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{selectedDoctor.id}}</td>
                    <td>{{selectedDoctor.name}}</td>
                    <td>{{selectedDoctor.age}}</td>
                    <td>{{selectedDoctor.gender }}</td>
                    <td>{{selectedDoctor.field }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

