
    <div class="welcome">
        <h3>Welcome {{name}} ...!</h3>
    </div>
        
    <div class="home" id="home">
        <div class="row">

            <div class="col-md-12" style="margin-bottom:10px ;">
                <h4 class="display-4">Home</h4>
            </div>

            <div class="col-md-6">
                <div class="text-center">
                    <img src="https://tse1.mm.bing.net/th?id=OIP.H6aLMquAoDn6aLb05aIsvQHaHa&pid=Api&P=0&w=159&h=159" class="rounded" alt="hospital">
                </div>
            </div>
            
            <div class="col-md-6">
                In this website, you can manage your hospital's doctors and patients details. You can do the following:<br>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Add a Doctor</li>
                    <li class="list-group-item">Add a Patient</li>
                    <li class="list-group-item">List the Doctors</li>
                    <li class="list-group-item">List the Patients</li>
                    <li class="list-group-item">Show specific doctor's information</li>
                    <li class="list-group-item">Show specific patient's information</li>
                </ul>
            </div>
        
           

        </div>

    </div>

    <div class="doctor" id="doctor">
        <div class="row">

            <div class="col-md-12" style="margin-bottom:10px ;">
                <h4 class="display-4">Doctor</h4>
            </div>

            <div class="col-md-6">
                <div class="text-center">
                    <img class="rounded" src="https://tse4.mm.bing.net/th?id=OIP.YTCHIFDcDOD5NJQmYo6i-wHaHa&pid=Api&P=0&w=174&h=174" alt="doctor">
                </div>
            </div>

            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a  class="btn btn-warning" routerLink='/doctor/-1'>Add Doctor</a></li>
                    <li class="list-group-item"><a  class="btn btn-success" routerLink="/list-doctors">List of Doctors</a></li>
                    <li class="list-group-item"><a class="btn btn-info" routerLink="/show-doctor">Show the information of specific Doctor</a></li>
                </ul>
            </div>

        </div>

    </div>

    <div class="patient" id="patient">
        <div class="row">

            <div class="col-md-12" style="margin-bottom:10px ;">
                <h4 class="display-4">Patient</h4>
            </div>
            
            <div class="col-md-6">
                <div class="text-center">
                    <img class="rounded" src="https://tse4.mm.bing.net/th?id=OIP.G2bE-aD-jJxtrS_VfWj-ygAAAA&pid=Api&P=0&w=164&h=164" alt="patient">
                </div>
            </div>

            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a class="btn btn-warning" routerLink="/patient/-1">Add Patient</a></li>
                    <li class="list-group-item"><a class="btn btn-success" routerLink="/list-patients">List of Patient</a></li>
                    <li class="list-group-item"><a class="btn btn-info" routerLink="/show-patient">Show the information of specific Patient</a></li>
                </ul>
            </div>

        </div>

    </div>  

    

  